@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  margin: 0;
}

.headernav {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 2rem;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-button, .active-button {
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
  font-weight: 800;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.active-button i {
  font-size: 1.5rem; 
  margin-right: 0.5rem; 
  color: #8b8a86;
}

.nav-button{
  font-size: 1.1rem;
  margin-right: 1px;
  color: #000000;
}

.nav-button:hover {
  color: #8b8a86;
}

.nav-right {
  display: flex;
  gap: 1rem; 
}

.container {
  max-width: 1400px;
  width: 100%;
  margin-top: 5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -15%;
}

.content h1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.content h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.content p {
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
  max-width: 800px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  margin-bottom: 5rem;
  margin-top: -28%;
}

.image:hover {
  transform: scale(1.2);
  transition: 1s ease;
}

.image img {
  max-width: 530px;
  width: 100%;
}
